

.container {
  display: flex;
  justify-content: center;
  height: auto;
  margin: 0 auto;
  .box {
    display: flex;
    flex-direction: column;
    width: 375px;
    background: #000;
    .header {
      display: flex;
      .header1,
      .header2,
      .header3,
      .header4 {
        width: 25%;
        height: 20px;
      }
      .header1 {
        box-sizing: border-box;
        background: #f8f32b;
        border-right: 1px solid;
      }
      .header2 {
        background: #f8f32b;
      }
      .header3 {
        background: #79e252;
      }
      .header4 {
        background: #a06cd5;
      }
    }
    .titleTop {
      display: flex;
      flex-direction: column;
      margin-top: 24px;
      margin-right: 8px;
      color: #fff;
      text-align: right;
      .title1 {
        font-weight: 400;
        font-size: 12px;
        font-family: 'Kumar One', cursive;
        line-height: 21px;
      }
      .title2,
      .title3 {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
      }
    }
    .content {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 60px;
      padding-bottom: 200px;
      color: #fff;
      .ball {
        position: absolute;
        top: 150px;
        left: 0;
        width: 100%;
      }
      .content1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        .name1 {
          font-weight: 400;
          font-size: 28px;
          font-family: 'Kumar One', cursive;
          line-height: 50px;
          text-decoration: underline;
        }
        .invites {
          font-weight: 400;
          font-size: 16px;
          font-family: 'Anonymous Pro', cursive;
          line-height: 24px;
        }
        .name2 {
          display: flex;
          align-items: center;
          font-weight: 400;
          font-size: 24px;
          font-family: 'Kumar One', cursive;
          line-height: 43px;
          .star1 {
            width: 24px;
            height: 24px;
            margin-right: 60px;
          }
          .star2 {
            width: 24px;
            height: 24px;
            margin-left: 60px;
          }
        }
      }
      .content2 {
        display: flex;
        justify-content: center;
        font-weight: 400;
        font-size: 18px;
        font-family: 'Anonymous Pro', cursive;
        line-height: 18px;
        .name1 {
          margin-right: 14px;
        }
        .name2 {
          margin-left: 14px;
        }
      }
      .content3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: 400;
        font-size: 16px;
        font-family: 'Anonymous Pro', cursive;
        line-height: 24px;
        .arrow {
          width: 82px;
          height: 20px;
          margin-top: 22px;
        }
        .date {
          margin: 24px 0 12px 0;
          color: #79e252;
        }
        .site {
          margin-bottom: 12px;
          color: #fff;
        }
        .flower {
          width: 24px;
          height: 24px;
        }
        .by {
          margin: 12px 0;
        }
        .logo {
          width: 44px;
          height: 44px;
        }
      }
    }
    .sponsors,
    .partners,
    .press {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 14px;
      .title {
        font-weight: 400;
        font-size: 18px;
        font-family: 'Anonymous Pro', cursive;
        line-height: 18px;
        color: #fff;
        text-align: center;
      }
      .first {
        margin: 18px 0;
        background: #1c212b;
        img {
          width: 42px;
          height: 42px;
        }
      }
    }
  }
  .form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 375px;
    margin-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    background: #000;
    .row {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin: 12px 0;
      color: #fff;
      font-size: 20px;
      .label {
        width: 100px;
        margin-right: 10px;
      }
      input {
        width: 140px;
      }
    }
    .button {
      width: 100%;
      margin: 20px auto;
    }
  }
}
:global .ant-upload.ant-upload-select-picture-card {
  background: transparent;
}
